
/*
------------------------------
this is the css for the navbar and the footer
------------------------------
*/
.land { 
  fill: #ccc; 
}

.border-states{
	stroke: #fff;
	fill: none;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.states{
  fill: #aec7e8;
}

.bubble{
  fill:red; 
  fill-opacity: .5;
}

.hover{
  stroke:#666; 
  fill-opacity: .8;
}